CompileFlags:
  Add: [-xc, -I../../external/include, -I../../include, -I../../external/submodules/libxputty/libxputty/include, -I/usr/include/cairo, -Wall, -DDEBUG, -Wextra, -Wshadow, -pedantic, -DLSP_EDITOR, -Wno-c23-extensions, -Wno-unused-parameter]

